on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build-kots-lint:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v2.1.3
        with:
          go-version: '^1.17.4'

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: make test build

  goreleaser:
    runs-on: ubuntu-latest
    needs: build-kots-lint
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unshallow
        run: git fetch --prune --unshallow

      - uses: actions/setup-go@v2.1.3
        with:
          go-version: '^1.17.4'

      - run: sudo apt-get -qq -y install

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: "v0.166.1"
          args: release --rm-dist --config deploy/.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    needs: build-kots-lint
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        with:
          repository: replicated/kots-lint
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
          tag_with_ref: true

  flyio:
    runs-on: ubuntu-latest
    needs: build-kots-lint
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions@1.1
        with:
          args: deploy --app kots-lint --config ./fly.toml --image-label ${GITHUB_REF:10}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

  flyio-dd-agent:
    runs-on: ubuntu-latest
    needs: flyio
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions@1.1
        with:
          args: deploy --app dd-agent --config ./dd-fly.toml -e DD_API_KEY=${{ secrets.DD_API_KEY }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
